[submodule "modules/RIO"]
	path = modules/RIO
	url = git@github.com:Autonomy2024/ekf_rio.git
[submodule "modules/slam"]
	path = modules/slam
	url = git@github.com:Autonomy2024/VINS-Fusion.git
[submodule "driver/mavros"]
	path = driver/mavros
	url = git@github.com:Autonomy2024/mavros.git
	branch = demo_sitl
